# Ignore .NET build artifacts
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Ignore generated Visual Studio Code workspace files
.vscode/

# Ignore npm dependencies
node_modules/
dist/
dist-ssr/
*.local
