.round-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: left;
}

.round-form-label {
    text-align: left;
    font-size: 1rem;
}

.round-form-input {
   max-width: 300px;
   padding: 0.5rem; 
}

.round-form-submit {
  max-width: 150px;
  padding: 0.5rem;
  color:black;
}

.link-styles {
    margin-right: 1rem;
}